DEBUG=""
SITE_NAME=""
SECRET_KEY=""
ADMIN_URL=""
EMAIL_PORT=""
EMAIL_HOST=""
DEFAULT_FROM_EMAIL=""
DOMAIN=""
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""

SUPERUSER_NOMBRE=""
SUPERUSER_APELLIDO_PAT=""
SUPERUSER_APELLIDO_MAT=""
SUPERUSER_DNI=""
SUPERUSER_CORREO=""
SUPERUSER_TELEFONO=""
SUPERUSER_GENERO=""
SUPERUSER_CODIGO=""
SUPERUSER_USERNAME=""
SUPERUSER_PASSWORD=""
SUPERUSER_FACULTAD=""