[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.1"
psycopg2-binary = "==2.9.9"
pipenv = "*"
shell = "*"
argon2-cffi = "==23.1.0"
django = "==4.2.15"
watchfiles = "==0.22.0"

[dev-packages]

[requires]
python_version = "3.11"
