{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'listar_docentes.css' %}" />

<nav class="breadcrumb__wrapper">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="/home">Inicio</a>
    </li>
    <li class="breadcrumb__item">
      <a>Listar Docentes</a>
    </li>
  </ol>
</nav>
<section class="listar_docentes__wrapper relative">
  <div class="relative">
    <h1 class="title-base">Lista de docentes total</h1>
    <form method="get" action="" class="listar_docentes__curso">
      <button type="submit" class="button--primary">Seleccionar Docentes</button>
      <label for="listar_docentes_cursos" class="input-primary">
        <select id="listar_docentes_cursos" name="cod_curso">
          <option value="" disabled {% if not request.GET.cod_curso %}selected{% endif %}>
            Seleccionar curso
          </option>
          {% for curso in cursos %}
            <option value="{{ curso.codigoCurso }}" {% if request.GET.cod_curso == curso.codigoCurso %}selected{% endif %}>
              {{ curso.codigoCurso }} - {{ curso.nombreCurso }}
            </option>
          {% endfor %}
        </select>
      </label>
    </form>
  </div>
  <div class="tabla_docentes_container">
    <table border="1" id="tabla_docentes" class="table__primary">
      <thead>
        <tr>
          <th>Cod</th>
          <th>Apellido</th>
          <th>Nombres</th>
          <th>Facultad</th>
          <th>Curso</th>
          <th>Nota Evaluación Últimos dos Ciclos</th>
        </tr>
      </thead>
      <tbody>
        {% if mensaje %}
        <tr>
          <td>{{ mensaje }}</td>
        </tr>
        {% endif %}
        {% for docente in docentes %}
        <tr>
          <td>{{docente.id}}</td>
          <td>{{docente.nombres}}</td>
          <td>{{docente.apellidos}}</td>
          <td>{{docente.facultad}}</td>
          <td>{{docente.curso}}</td>
          <td>{{docente.notaEvaluacion}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="listar_docentes__botones">
    <form method="get" action="{% url 'exportar_pdf' %}">
      <input type="hidden" name="cod_curso" value="{{ request.GET.cod_curso }}">
      <button type="submit" class="button--primary">Exportar como PDF</button>
    </form>
    <form method="get" action="{% url 'exportar_excel' %}">
      <input type="hidden" name="cod_curso" value="{{ request.GET.cod_curso }}">
      <button type="submit" class="button--primary">Exportar como Excel</button>
    </form>
  </div>
</section>
{% endblock %}
