<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Inicio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    {% comment %} <link
      rel="stylesheet"
      href="{% static 'css/ui.css' %}"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    /> {% endcomment %}
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
</head>
<body>
  <h2>Evaluación de documentos</h2>
  <div class="postulante">
    <span>Postulante:</h3>
    <span> {{ nombrecompleto.postulante}} </span>
  </div>
  
  <div class="cuadro_criterios">
    
  </div>

</body>
</html>