{% extends "base.html" %} 
{% load static %} {% block content %}

<ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="/home">Inicio</a>
    </li>
    <li class="breadcrumb__item">
      <a href="/ver_convocatoria">Ver convocatoria</a>
    </li>
    <li class="breadcrumb__item">
      <a>Digir Calificación</a>
    </li>
</ol>

<div class="seccion_arriba">
  <h2> Lista de postulantes </h2>
  <div class="seccion_arriba elementos_Derecha">
    <input type="checkbox" id="orden_postulantes" class="boton__checkbox">
    <label for="orden_postulantes" class="boton__ordenar">
      <i class="fa fa-filter" aria-hidden="true"></i>
    </label>
    <div class="cantidad_postulantes">{{ cantidadPostulantes }}</div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>N°</th>
      <th>Apellidos</th>
      <th>Nombres</th>
      <th>Tema de la Clase Magistral</th>
      <th>Fecha de Evaluación</th>
      <th>Hora de la Evaluación</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for p in postulantes %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ p.persona.apellidoPaterno }} {{ p.persona.apellidoMaterno }}</td>
      <td>{{ p.persona.nombre }}</td>
      <td>{{ p.clasemagistral.temaAsignado }}</td>
      <td>{{ p.clasemagistral.fechaProgramacion }}</td>
      <td>{{ p.clasemagistral.horaProgramada }}</td>
      <td><a href="{% url 'mostrar_documentos' p.id %}">Evaluar</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center">No hay postulantes disponibles.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'generar_informe_notas' convocatoria_id %}">Generar Informe</a>

{% endblock %}

