{% extends "base.html" %} 
{% load static %} 
{% block content %}

<ol class="breadcrumb__list">
  <li class="breadcrumb__item">
    <a href="/home">Inicio</a>
  </li>
  <li class="breadcrumb__item">
    <a href="/ver_convocatorias/">Ver convocatoria</a>
  </li>
  <li class="breadcrumb__item">
    <a href="{% url 'dirigir_calificacion' convocatoria_id %}">Dirigir Calificación</a>
  </li>
  <li class="breadcrumb__item">
    <a>Clase</a>
  </li>
</ol>

<div class="clase_magistral">
  <div class="izquierda__clase">
    <div class="mostrar__clase">
      <!-- Aquí se inserta la transmisión de Jitsi Meet -->
      <iframe 
        src="https://meet.jit.si/ClaseEvaluacion_{{ postulante_id }}" 
        style="width: 100%; height: 500px; border: 0; border-radius: 8px;" 
        allow="camera; microphone; fullscreen; display-capture">
      </iframe>
    </div>
  </div>

  <div class="derecha__clase">
    <div class="horas">
      <div class="inicio">
        <span>Hora Inicio</span>
        <span>{{ clase_magistral.horaProgramada }}</span>
      </div>
      <div class="fin">
        <span>Hora Fin</span>
        <span>{{ hora_final }}</span>
      </div>
    </div>

    <div class="calificar__clase">
      <form method="post" id="form_clase">
        {% csrf_token %}
        
        <div class="item__cuadro">
          <h3>Claridad en la Exposición y Metodología Didáctica</h3>
          <input type="number" id="c1" name="c1" min="0" max="20" required>
          <label for="c1" class="label__criterio">(0-20)</label>
        </div>

        <div class="item__cuadro">
          <h3>Grado de Conocimiento</h3>
          <input type="number" id="c2" name="c2" min="0" max="10" required>
          <label for="c2" class="label__criterio">(0-10)</label>
        </div>

        <div class="item__cuadro">
          <h3>Aptitud para Motivar el Interés del Tema</h3>
          <input type="number" id="c3" name="c3" min="0" max="10" required>
          <label for="c3" class="label__criterio">(0-10)</label>
        </div>

        <div class="item__cuadro">
          <h3>Absolución de Preguntas del Jurado y del Auditorio</h3>
          <input type="number" id="c4" name="c4" min="0" max="10" required>
          <label for="c4" class="label__criterio">(0-10)</label>
        </div>

        <button type="submit" id="boton_confirmar">Guardar</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

