{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'ver_convocatorias.css' %}" />
<div style="display: flex; align-items: center; justify-content: space-between;">
  <ol class="breadcrumb__list">
      <li class="breadcrumb__item">
        <a href="/home">Inicio</a>
      </li>
      <li class="breadcrumb__item">
        <a>Ver convocatoria</a>
      </li>
  </ol>

  <div style="margin-top: 1em; margin-left: auto;">
      <button class="button--primary" href="gestionar_documentos/" >Gestionar Documentos</button>
      <button class="button--primary" href="dirigir_calificacion/">Dirigir Calificación</button>
  </div>
</div>
    <form method="get" class="filter-bar">
      <input type="text" name="q" class="search-box" placeholder="Buscar curso..." value="{{ request.GET.q }}">
      <button class="btn">🔍</button>
    </form>
    <form method="post" action="">
      {% csrf_token %}
      <table class="table__primary">
        <thead>
          <tr>
            <th>Cod</th>
            <th>Curso</th>
            <th>Fecha de Apertura</th>
            <th>Fecha de Cierre</th>
            <th>Estado</th>
            <th>Selección</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Calculo_Diferencial</td>
            <td>31/03/2025</td>
            <td>09/04/2025</td>
            <td>En Proceso</td>
            <td><input type="radio" name="convocatoria_id" value="{{ conv.id }}"></td>
          </tr>
          {% for conv in convocatorias %}
          <tr>
            <td>{{ conv.id }}</td>
            <td>{{ conv.plaza.curso.nombreCurso }}</td>
            <td>{{ conv.fechaInicio }}</td>
            <td>{{ conv.fechaFin }}</td>
            <td>{{ conv.estadoConvocatoria }}</td>
            <td><input type="radio" name="convocatoria_id" value="{{ conv.id }}"></td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="p-4 text-center text-gray">No hay convocatorias disponibles.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    </form>

{% endblock %}
